@page "/CompanyIndex"
@model PRN231_2_EventFlowerExchange_FE.Pages.CompanyPages.IndexModel
@{
    ViewData["Title"] = "Company Management";
    ViewData["ShowHeader"] = false;
    ViewData["ShowFooter"] = false;
}

<div class="bg-gray-100 min-h-screen">
    <partial name="_AdminHeader" />

    <div class="flex overflow-hidden bg-white pt-16">
        <partial name="_AdminNav" />

        <div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64">
            <main class="py-10 px-4">
                <div class="max-w-7xl mx-auto">
                    <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
                        <div class="mb-4 flex items-center justify-between">
                            <h3 class="text-xl font-bold text-gray-900">Company List</h3>
                            @*                             <a href="/CompanyPages/CreateCompany" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create New Company</a>
                            *@
                        </div>
                        <!-- Search form -->
                        <form method="get" class="mb-4 flex space-x-2">
                            <select name="searchColumn" class="px-3 py-2 bg-white border border-gray-300 rounded-md">
                                <option value="CompanyName" selected="@(Model.SearchColumn == "CompanyName")">Name</option>
                                <option value="CompanyAddress" selected="@(Model.SearchColumn == "CompanyAddress")">Address</option>
                                <option value="CompanyDescription" selected="@(Model.SearchColumn == "CompanyDescription")">Description</option>
                            </select>
                            <input type="text" name="searchTerm" value="@Model.SearchTerm" placeholder="Search companies..." class="flex-1 px-3 py-2 border rounded-md">
                            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Search</button>

                            @if (!string.IsNullOrEmpty(Model.SearchTerm))
                            {
                                <a href="?pageNumber=1" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                                    Clear
                                </a>
                            }
                        </form>


                        <div class="flex flex-col mt-8">
                            <div class="overflow-x-auto">
                                <div class="align-middle inline-block min-w-full">
                                    <div class="overflow-hidden">
                                        @if (Model.Companies != null && Model.Companies.Any())
                                        {
                                            <table class="min-w-full divide-y divide-gray-200">
                                                <thead class="bg-gray-50">
                                                    <tr>
                                                        <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Company Name</th>
                                                        <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Company Address</th>
                                                        <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Company Description</th>
                                                        <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="bg-white divide-y divide-gray-200">
                                                    @foreach (var company in Model.Companies)
                                                    {
                                                        <tr>
                                                            <td class="px-3 py-4 whitespace-nowrap text-sm font-medium text-gray-900">@company.CompanyName</td>
                                                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">@company.CompanyAddress</td>
                                                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">@company.CompanyDescription</td>
                                                            <td class="px-3 py-4 whitespace-nowrap text-sm font-medium">
                                                                <a asp-page="/CompanyPages/CompanyDetails" asp-route-id="@company.CompanyId" class="cursor-pointer whitespace-nowrap rounded-md bg-sky-500 px-4 py-2 text-sm font-medium tracking-wide text-white transition hover:opacity-75 text-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500 active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-sky-500 dark:text-white dark:focus-visible:outline-sky-500 mr-2">Details</a>
                                                                <a asp-page="/CompanyPages/CompanyDelete" asp-route-id="@company.CompanyId" class="cursor-pointer whitespace-nowrap rounded-md bg-red-500 px-4 py-2 text-sm font-medium tracking-wide text-white transition hover:opacity-75 text-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500 active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-red-500 dark:text-white dark:focus-visible:outline-red-500">
                                                                    Delete
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <p class="text-center py-4 text-gray-500">No companies found.</p>
                                        }

                                        <!-- Pagination controls -->
                                        <div class="mt-4 flex justify-between items-center">
                                            <div>
                                                Showing @(((Model.CurrentPage - 1) * Model.PageSize) + 1) to @(Math.Min(Model.CurrentPage * Model.PageSize, Model.TotalCount)) of @Model.TotalCount entries
                                            </div>
                                            <div>
                                                <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                                                    @if (Model.CurrentPage > 1)
                                                    {
                                                        <a href="?pageNumber=@(Model.CurrentPage - 1)&searchColumn=@Model.SearchColumn&searchTerm=@Model.SearchTerm" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                                            Previous
                                                        </a>
                                                    }
                                                    @for (int i = 1; i <= Model.TotalPages; i++)
                                                    {
                                                        <a href="?pageNumber=@i&searchColumn=@Model.SearchColumn&searchTerm=@Model.SearchTerm" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 @(i == Model.CurrentPage ? "bg-indigo-50 text-indigo-600" : "")">
                                                            @i
                                                        </a>
                                                    }
                                                    @if (Model.CurrentPage < Model.TotalPages)
                                                    {
                                                        <a href="?pageNumber=@(Model.CurrentPage + 1)&searchColumn=@Model.SearchColumn&searchTerm=@Model.SearchTerm" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                                            Next
                                                        </a>
                                                    }
                                                </nav>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>